<welcome-nav>
  <a href='https://www.linkedin.com/in/drewandre'>Palette: Designed by Drew André</a>
</welcome-nav>
<div class="sign-in-form">
  <%= form_for :session, url: sign_in_path do |f| %>
    <i class="fa fa-lock fa-4x" id='lock-icon' aria-hidden="true"></i>
    <!-- <img src='app/assets/images/basic_logo.png' id='lock-icon'></img> -->
    <div id='register'>Sign In</div>
    <div class='sign-in-error'><%= flash[:alert] %></div>
    <div class="row">
      <div class="small-12 medium-6 medium-offset-3 columns">
        <%= f.text_field :login, placeholder: "email or username", autoComplete: "off" %>
        <%= f.password_field :password, placeholder: "password", autoComplete: "off"  %>
      </div>
    </div>
    <div class="form-actions">
      <%= button_tag( :class => "button_green") do %>
      <div class='continue'>
        <a href='/sign-up'><i class="fa fa-arrow-circle-left" style='margin-right: 10px' aria-hidden="true"></i>Register</a>
      </div>
      <% end %>
      <%= button_tag( :class => "button_green") do %>
      <div class='continue'>
        <a>Continue<i class="fa fa-arrow-circle-right" style='margin-left: 10px' aria-hidden="true"></i></a>
      </div>
      <% end %>
    </div>
  <% end %>
</div>

<!-- <label>
  <%= link_to "Forgot your password?", new_password_reset_path %>
</label> -->
