<h1>Settings index</h1>

<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>
<% if flash[:alert] %>
  <div class="alert"><%= flash[:alert] %></div>
<% end %>

<p>Hue: <%= @setting.hue %>
<p>Saturation: <%= @setting.saturation %>
<p>Brightness: <%= @setting.brightness %>
<p>Master Brightness: <%= @setting.master_brightness %>
<p>Color Palette: <%= @setting.color_palette %>
<p>Effect: <%= @setting.effect %>

<p><%= link_to 'Update Settings', edit_setting_path(@setting) %></p>
