<h1>Settings show</h1>

<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>
<% if flash[:alert] %>
  <div class="alert"><%= flash[:alert] %></div>
<% end %>

<p>
  <%= @setting.hue %>
  <%= @setting.saturation %>
  <%= @setting.brightness %>
  <%= @setting.master_brightness %>
  <%= @setting.color_palette %>
  <%= @setting.effect %>
</p>

<span><%= link_to 'Update Settings', edit_setting_path(@setting) %></span>
