<div class="sign-up-form">
  <%= form_for @product do |f| %>
  <% autofocus = 'on' %>
    <i class="fa fa-user fa-4x" id='sign-up-icon' aria-hidden="true"></i>
    <div id='register-name'>Hi, <%= current_user.first_name%>!</div>
    <div class='form-errors'><%= flash[:alert] %></div>
    <!-- <div class='form-errors'><%= flash[:success] %></div> -->
    <div class='bridge-discover-errors'><%= flash[:error] %></div>
    <% if @product.errors.present? %>
      <div class="form-errors">
        <div>
          <% @product.errors.messages.each do |attribute, messages| %>
            <div>
              <strong>
                <%= attribute.to_s.humanize %>
              </strong>
              <%= "#{messages.to_sentence}." %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
    <div class="row">
      <div class="small-12 medium-6 medium-offset-3 columns">
        <div id='register-success'>Where is your system?</div>
        <%= f.text_field :product_name, autoComplete: "off", autofocus: 'on', placeholder: "'family room'"%>
      </div>
    </div>
    <div class="form-actions">
      <%= button_tag( :class => "button_green") do %>
      <div class='continue'>
        <a href='/sign-out'><i class="fa fa-arrow-circle-left" style='margin-right: 10px' aria-hidden="true"></i>Sign Out</a>
      </div>
      <% end %>
      <%= button_tag( :class => "button_green") do %>
      <div class='continue'>
        <a>Continue<i class="fa fa-arrow-circle-right" style='margin-left: 10px' aria-hidden="true"></i></a>
      </div>
      <% end %>
    </div>
    </div>
  </div>
<% end %>
